## Function to get user selection of the category of the drink and provide list of options

In [1]:
import pandas as pd
import requests
import json
import matplotlib
#pd.options.display.max_rows = 999
#pd.options.display.max_columns = 999

%matplotlib inline

In [2]:
# Search for drink category
def drink_category(category):
    url = f"https://www.thecocktaildb.com/api/json/v1/1/filter.php?c={str(category)}"
    r = requests.get(url)
    df = pd.DataFrame(r.json()["drinks"])
    return df.dropna(axis='columns', how='all')

In [3]:
drink_category("Ordinary_Drink")

,strDrink,strDrinkThumb,idDrink
0,3-Mile Long Island Iced Tea,https://www.thecocktaildb.com/images/media/dri...,15300
1,410 Gone,https://www.thecocktaildb.com/images/media/dri...,13581
2,50/50,https://www.thecocktaildb.com/images/media/dri...,14598
3,501 Blue,https://www.thecocktaildb.com/images/media/dri...,17105
4,69 Special,https://www.thecocktaildb.com/images/media/dri...,13940
...,...,...,...
95,Classic Old-Fashioned,https://www.thecocktaildb.com/images/media/dri...,11145
96,Clove Cocktail,https://www.thecocktaildb.com/images/media/dri...,11255
97,Clover Club,https://www.thecocktaildb.com/images/media/dri...,17186
98,Cuba Libra,https://www.thecocktaildb.com/images/media/dri...,13751
99,Cuba Libre,https://www.thecocktaildb.com/images/media/dri...,11288

In [4]:
# needs to be exact
# list of different categories for this db
url_list_origin = "https://www.thecocktaildb.com/api/json/v1/1/list.php?c=list"
ra = requests.get(url_list_origin)
df = pd.DataFrame(ra.json()["drinks"])
df

             strCategory
0         Ordinary Drink
1               Cocktail
2   Milk / Float / Shake
3          Other/Unknown
4                  Cocoa
5                   Shot
6           Coffee / Tea
7       Homemade Liqueur
8    Punch / Party Drink
9                   Beer
10     Soft Drink / Soda