# Drinks

In [56]:
import pandas as pd
import requests
import json
import matplotlib
pd.options.display.max_rows = 999
pd.options.display.max_columns = 999
pd.set_option("display.max_colwidth", -1)

%matplotlib inline

In [57]:
ingridient_df = ""

In [139]:
def drink_id(x):
    id = ingridient_df.loc[int(x), "idDrink"]
    url = f"https://www.thecocktaildb.com/api/json/v1/1/lookup.php?i={id}"
    r = requests.get(url)
    dfid = pd.DataFrame(r.json()["drinks"])
    display(dfid["strInstructions"].to_frame())
    return dfid.dropna(axis='columns', how='all').drop(columns=['strInstructions','strInstructionsDE','strCreativeCommonsConfirmed'], axis=1).transpose()

In [140]:
def drink_id_choose():
    global ingridient
    print("""Choose the row you want to examine
    """)
    x = input().strip().lower()
    return drink_id(x)

In [141]:
def drink_name_choose():
    print("""Choose your name
    """)
    x = input().strip().lower()
    return drink(x)

In [142]:
def drink_ingridient_choose():
    global ingridient
    print("""Choose your main ingridient
    """)
    x = input().strip().lower()
    return drink_main(x)

In [143]:
def drink_main(main):
    global ingridient_df
    url = f"https://www.thecocktaildb.com/api/json/v1/1/filter.php?i={str(main)}"
    r = requests.get(url)
    df = pd.DataFrame(r.json()["drinks"])
    display(df.dropna(axis='columns', how='all')["strDrink"].to_frame())
    ingridient_df = df
    return drink_id_choose()

In [144]:
def drink_option_choose():
    print("""do you want to search by?
Name, Ingridient, Type, Glass
    """)
    x = input("Drink").strip().lower()
    if x == "name":
        return drink_name_choose()
    if x == "ingridient":
        return drink_ingridient_choose()

In [145]:
def meal_choose():
    print("what do you want to eat?")
    x = input("meal").strip().lower()
    return meal(x)

In [146]:
def meal(name):
    url = f"https://www.themealdb.com/api/json/v1/1/search.php?s={str(name)}"
    r = requests.get(url)
    df = pd.DataFrame(r.json()["meals"])
    return df.dropna(axis='columns', how='all')

In [147]:
def drink(name):
    url = f"https://www.thecocktaildb.com/api/json/v1/1/search.php?s={str(name)}"
    r = requests.get(url)
    df = pd.DataFrame(r.json()["drinks"])
    return df.dropna(axis='columns', how='all')

# This functions starts everything

In [148]:
#calling the other functions

def start():
    print("welome to your night what do you want to do drink or meal?")
    x = input().strip().lower()
    if x == "drinks":
        return drink_option_choose()
    elif x == "meal":
        return meal_choose()
    return meal()

In [149]:
start()

welome to your night what do you want to do drink or meal?
drinks
do you want to search by?
Name, Ingridient, Type, Glass

Drinkingridient
Choose your main ingridient

rum

                            strDrink
0   Adam Bomb
1   Adios Amigos Cocktail
2   Aztec Punch
3   Bahama Mama
4   Barracuda
5   Blue Hurricane
6   Espresso Rumtini
7   Hemingway Special
8   Jamaican Coffee
9   National Aquarium
10  Orange Whip
11  Radioactive Long Island Iced Tea
12  Rum Cooler
13  Rum Punch
14  Rum Toddy
15  Spice 75
16  Zippy's Revenge
17  Zombie

Choose the row you want to examine

3

                                                                                                                strInstructions
0  Add 2 parts club soda or more or less to taste.\r\n\r\nMix it all together and pour over a bunch of ice. Drink with a straw.

                                                                                    0
idDrink         17267
strDrink        Bahama Mama
strCategory     Cocktail
strAlcoholic    Alcoholic
strGlass        Highball glass
strDrinkThumb   https://www.thecocktaildb.com/images/media/drink/tyb4a41515793339.jpg
strIngredient1  Rum
strIngredient2  Dark Rum
strIngredient3  Banana liqueur
strIngredient4  Grenadine
strIngredient5  Pineapple Juice
strIngredient6  Orange Juice
strIngredient7  Sweet and Sour
strMeasure1     3 parts
strMeasure2     1 part
strMeasure3     1 part
strMeasure4     1 part
strMeasure5     2 parts
strMeasure6     2 parts
strMeasure7     1 part
dateModified    2018-01-12 21:42:19