In [1]:
import pandas as pd
import requests
import json

In [2]:
# function to get the meal data set
def meal(name):
    url = f"https://www.themealdb.com/api/json/v1/1/search.php?s={str(name)}"
    r = requests.get(url)
    df = pd.DataFrame(r.json()["meals"])
    return df.dropna(axis='columns', how='all')

In [3]:
# function get meal based on id for testing
def get_meal_id(id):
    url = f"https://www.themealdb.com/api/json/v1/1/lookup.php?i={id}"
    r = requests.get(url)
    dfid = pd.DataFrame(r.json()["meals"])
    return dfid.dropna(axis='columns', how='all')

In [4]:
# get one example
df = get_meal_id(52795)
df

,idMeal,strMeal,strCategory,strArea,strInstructions,strMealThumb,strYoutube,strIngredient1,strIngredient2,strIngredient3,...,strMeasure12,strMeasure13,strMeasure14,strMeasure15,strMeasure16,strMeasure17,strMeasure18,strMeasure19,strMeasure20,strSource
0,52795,Chicken Handi,Chicken,Indian,"Take a large pot or wok, big enough to cook al...",https://www.themealdb.com/images/media/meals/w...,https://www.youtube.com/watch?v=IO0issT0Rmc,Chicken,Onion,Tomatoes,...,1 cup,¾ cup,3 tsp Dried,1 tsp,To taste,,,,,

In [5]:
# strip every column content, function found
df = df.apply(lambda x: x.str.strip() if x.dtype == "object" else x)

In [6]:
# try to replace "" values, not working
df = df.replace(to_replace = "", value = None)
df.dropna(axis="columns", how="all")

,idMeal,strMeal,strCategory,strArea,strInstructions,strMealThumb,strYoutube,strIngredient1,strIngredient2,strIngredient3,...,strMeasure12,strMeasure13,strMeasure14,strMeasure15,strMeasure16,strMeasure17,strMeasure18,strMeasure19,strMeasure20,strSource
0,52795,Chicken Handi,Chicken,Indian,"Take a large pot or wok, big enough to cook al...",https://www.themealdb.com/images/media/meals/w...,https://www.youtube.com/watch?v=IO0issT0Rmc,Chicken,Onion,Tomatoes,...,1 cup,¾ cup,3 tsp Dried,1 tsp,To taste,,,,,

In [7]:
# check if value "" provides a boolean
df.strMeasure16 == ""

0    False
Name: strMeasure16, dtype: bool

In [8]:
# check if the opposite works as well
df.strMeasure17 == ""

0    True
Name: strMeasure17, dtype: bool

In [9]:
# create a list with every column value which is empty
ls = []
for i in list(df.columns):
    if df[i].any() == '':
        ls.append(i)

In [10]:
# works :)
ls

['strIngredient17',
 'strIngredient18',
 'strIngredient19',
 'strIngredient20',
 'strMeasure17',
 'strMeasure18',
 'strMeasure19',
 'strMeasure20',
 'strSource']

In [12]:
df.drop(columns = ls)

,idMeal,strMeal,strCategory,strArea,strInstructions,strMealThumb,strYoutube,strIngredient1,strIngredient2,strIngredient3,...,strMeasure7,strMeasure8,strMeasure9,strMeasure10,strMeasure11,strMeasure12,strMeasure13,strMeasure14,strMeasure15,strMeasure16
0,52795,Chicken Handi,Chicken,Indian,"Take a large pot or wok, big enough to cook al...",https://www.themealdb.com/images/media/meals/w...,https://www.youtube.com/watch?v=IO0issT0Rmc,Chicken,Onion,Tomatoes,...,2 tsp,3 tsp,1 tsp,1 tsp,2,1 cup,¾ cup,3 tsp Dried,1 tsp,To taste

In [13]:
# function to clean empty columns

def drop_empty_columns(df):
    ls = []
    df = df.apply(lambda x: x.str.strip() if x.dtype == "object" else x)
    for i in list(df.columns):
        if df[i].any() == '':
            ls.append(i)
    return df.drop(columns = ls)

In [14]:
# checking if it works
df = get_meal_id(52795)

In [15]:
df

,idMeal,strMeal,strCategory,strArea,strInstructions,strMealThumb,strYoutube,strIngredient1,strIngredient2,strIngredient3,...,strMeasure12,strMeasure13,strMeasure14,strMeasure15,strMeasure16,strMeasure17,strMeasure18,strMeasure19,strMeasure20,strSource
0,52795,Chicken Handi,Chicken,Indian,"Take a large pot or wok, big enough to cook al...",https://www.themealdb.com/images/media/meals/w...,https://www.youtube.com/watch?v=IO0issT0Rmc,Chicken,Onion,Tomatoes,...,1 cup,¾ cup,3 tsp Dried,1 tsp,To taste,,,,,

In [17]:
df = drop_empty_columns(df)

In [18]:
df

,idMeal,strMeal,strCategory,strArea,strInstructions,strMealThumb,strYoutube,strIngredient1,strIngredient2,strIngredient3,...,strMeasure7,strMeasure8,strMeasure9,strMeasure10,strMeasure11,strMeasure12,strMeasure13,strMeasure14,strMeasure15,strMeasure16
0,52795,Chicken Handi,Chicken,Indian,"Take a large pot or wok, big enough to cook al...",https://www.themealdb.com/images/media/meals/w...,https://www.youtube.com/watch?v=IO0issT0Rmc,Chicken,Onion,Tomatoes,...,2 tsp,3 tsp,1 tsp,1 tsp,2,1 cup,¾ cup,3 tsp Dried,1 tsp,To taste