## Function to get user selection of the main component of the food and provide list of options

In [1]:
import pandas as pd
import requests
import json
import matplotlib


%matplotlib inline

In [2]:
# this function returns the list of the meals given origin
def meal_main_ingredient(ingredient):
    url = f"https://www.themealdb.com/api/json/v1/1/filter.php?i={str(ingredient)}"
    r = requests.get(url)
    df = pd.DataFrame(r.json()["meals"])
    return df.dropna(axis='columns', how='all')

In [3]:
# testing the function works
meal_main_ingredient("chicken_breast")

,strMeal,strMealThumb,idMeal
0,Chicken Couscous,https://www.themealdb.com/images/media/meals/q...,52850
1,Chicken Fajita Mac and Cheese,https://www.themealdb.com/images/media/meals/q...,52818
2,Chicken Ham and Leek Pie,https://www.themealdb.com/images/media/meals/x...,52875
3,General Tso's Chicken,https://www.themealdb.com/images/media/meals/1...,52951
4,Katsu Chicken curry,https://www.themealdb.com/images/media/meals/v...,52820
5,Rappie Pie,https://www.themealdb.com/images/media/meals/r...,52933

In [4]:
# Check the different values of the ingredients
url_list_origin = "https://www.themealdb.com/api/json/v1/1/list.php?i=list"
ra = requests.get(url_list_origin)
df = pd.DataFrame(ra.json()["meals"])
df

         strIngredient1
0             Light rum
1             Applejack
2                   Gin
3              Dark rum
4        Sweet Vermouth
..                  ...
95                 7-Up
96    Blackberry brandy
97  Peppermint schnapps
98      Creme de Cassis
99         Jack Daniels

[100 rows x 1 columns]